<div id="carouselMain" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>  
    <div class="carousel-inner">
      <div class="carousel-item active img-slide">
        <img src="../static/photo/troppy.jpg" class="d-block w-100 c-img-slide" alt="...">
        <div class="carousel-caption ">
            <button type="button" class="btn btn-info fs-5">Road to World 2024</button>
            <p class="custom-message">Follow the path of the legend</p>
          </div>
      </div>
      <div class="carousel-item img-slide">
        <img src="../static/photo/viego-wp-s.jpg" class="d-block w-100 c-img-slide" alt="...">
        <div class="carousel-caption ">
            <button type="button" class="btn btn-info fs-5">Meta analysis</button>
            <p class="custom-message">Something is happening, let's find out</p>
          </div>
      </div>
      <div class="carousel-item img-slide">
        <img src="../static/photo/viegoWallPaper.jpeg" class="d-block w-100 c-img-slide" alt="...">
        <div class="carousel-caption">
            <button type="button" class="btn btn-info fs-5">See some info</button>
            <p class="custom-message">Let's take a look overview Wolrd 2024 till now</p>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="empty-block">

</div>
<h2 class="cus-middle my-3">Highlight Today</h2>
<div class="highlight-today">
  <div class="block">
    <video controls poster="../static/photo/viegoWallPaper.jpeg">
      <source src="../static/video/test.mp4" type="video/mp4">
    </video>
    <div class="video-title">Video Title Here</div>
  </div>
  <div class="block">
    <video controls poster="../static/photo/troppy.jpg">
      <source src="../static/video/test.mp4" type="video/mp4">
    </video>
    <div class="video-title">Video Title Here</div>
  </div>
  <div class="block">
    <video controls poster="../static/photo/viego-wp-s.jpg">
      <source src="../static/video/test.mp4" type="video/mp4">
    </video>
    <div class="video-title">Video Title Here</div>
  </div>
</div>
<div class="empty-block"></div>
<div class="ads-content">
  <div class="ads">ADS</div>
  <div class="ads">ADS</div>
  <div class="ads">ADS</div>
</div>
<div class="empty-block"></div>