<div id="sub-page" current-page="team">
      <main class="sub-content" id="sub-content">
        <table class="table table-hover table-bordered border-primary">
          <thead class="table-info">
            <tr>
              <th>N.o</th>
              <th>Team Name</th>
              <th>Region</th>
              <th>Sponsors</th>
            </tr>
          </thead>
          <tbody id="team-table-body">
          </tbody>
      </table>
      <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination" pagination-page="team-pagination">
        </ul>
      </nav>
      </main>
    </div>
    