<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="./asset/css/myStyle.css">
    <title>LOL-Pros</title>
</head>
<body>
  <div class="containerz">
    <nav class="navbar navbar-expand-lg bg-transparent custom-bg-navbar-1 justify-content-center">
        <img src="./asset/photo/League_of_Legends_Icon.png" alt="Logo" class="navbar-image-custom">
    </nav>
    <nav class="navbar navbar-expand-md bg-dark sticky-top" data-bs-theme="dark">
        <!--nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" -->
      
          <a class="navbar-brand" href="#">LoL Pros</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" data-main-page ="home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-main-page ="player">Player</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-main-page="team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-main-page="region">Region</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-main-page="tournament">Tournament</a>
              </li>
            </ul>
          </div>
      </nav>

    <main id="main-content" class="main-content">
    </main>

    <footer class="footer">
      <div class="contact-info">
        <div class="contact-info-text">Contact us via :</div>
        <div class="contact-info-icon">
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
            <img src="./asset/photo/facebook-icon.png" alt="facebook-icon" class="icon">
          </a>

          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
            <img src="./asset/photo/youtube-icon.png" alt="youtube-icon" class="icon">
          </a>
          
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
            <img src="./asset/photo/gmail-icon.png" alt="gmail-icon" class="icon">
          </a>
          
        </div>
      </div>
      <div class="custom-notice">This is our project for LoL information and this isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc..</div>
    </footer>
  </div>

    <script src="./asset/js/bootstrap.min.js"></script>
    <script src="./asset/js/popper.min.js"></script>
    <script src="./asset/js/Main.js"></script>
</body>
</html>