<div class="full-screen">
    <nav class="navbar navbar-expand-md bg-success">
        <div class="container">
          <a class="navbar-brand" href="#">Region</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" sub-data-page="info" href="#">Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" sub-data-page ="statistic">Statistics</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <main class="sub-content" id="sub-content">
        <table class="table table-hover table-bordered border-primary">
          <thead class="table-info">
            <tr>
              <th>N.o</th>
              <th>Region Name</th>
            </tr>
          </thead>
          <tbody id="player-table-body">
            <!-- <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>@twitter</td>
            </tr> -->
          </tbody>
      </table>
      </main>
    </div>
    